@using FilmFlicks.Infrastructure
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FilmFlicks.Domain.Entities.TicketEntity>

<h2>Ваши билеты</h2>

@if (!Model.Any())
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Фильм</th>
            <th>Время</th>
            <th>Место</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>Id: @ticket.Id</td>
                <td>Кинотеатр: @ticket.FilmCinema.Cinema.Name</td>
                <td>Фильм: @ticket.FilmCinema.Film.Name</td>
                <td>@ticket.FilmTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <form asp-action="Cancel" asp-route-ticketId="@ticket.Id" asp-route-userId="@long.Parse(User.FindFirstValue(CustomClaims.UserId) ?? string.Empty)" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Отменить</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
